In [37]:
import pandas as pd 
import requests

In [38]:
response = requests.get("https://indicadores.integrasus.saude.ce.gov.br/api/casos-coronavirus?dataInicio=2020-03-01&dataFim=2020-03-01")
json = response.json()

In [39]:
if response.status_code == 200:
    cases_covid = pd.DataFrame(json)

In [40]:
cases_covid

,codigoPaciente,estadoPaciente,codigoMunicipioPaciente,municipioPaciente,sexoPaciente,idadePaciente,dataNotificacao,dataInicioSintomas,dataColetaExame,dataSolicitacaoExame,resultadoFinalExame,paisPaciente,bairroPaciente
0,417921f82efaa5e532b45c2f56d0d666,CE,230440,FORTALEZA,FEMININO,37,2020-03-01T03:00:00.000+0000,2020-02-28T03:00:00.000+0000,NaN,NaN,NaN,NaN,NaN
1,3cba1f1d4fe587113a67ab10c743123e,CE,230440,FORTALEZA,FEMININO,0,2020-03-01T03:00:00.000+0000,2020-04-28T03:00:00.000+0000,NaN,NaN,NaN,NaN,NaN
2,e06c6e51a686528cf87a9aec8cdd4293,CE,230440,FORTALEZA,FEMININO,31,2020-03-01T03:00:00.000+0000,2020-02-28T03:00:00.000+0000,2020-03-01T03:00:00.000+0000,2020-03-02T03:00:00.000+0000,Negativo,NaN,NaN
3,696e1acd2b5af47f980ed826c50062f5,CE,230440,FORTALEZA,FEMININO,27,2020-03-01T03:00:00.000+0000,2020-02-29T03:00:00.000+0000,NaN,NaN,NaN,NaN,NaN
4,bdd734848c6baa0adb13dd8a5752f177,CE,230440,FORTALEZA,MASCULINO,2,2020-03-01T03:00:00.000+0000,2020-02-23T03:00:00.000+0000,NaN,NaN,NaN,BRASIL,JARDIM IRACEMA
5,2cd69478b035ca1501377191fb7a9ff1,CE,230428,EUSEBIO,FEMININO,30,2020-03-01T03:00:00.000+0000,2020-02-25T03:00:00.000+0000,NaN,NaN,NaN,NaN,NaN