In [4]:
import numpy as np
import pandas as pd 
import requests

In [5]:
response = requests.get("https://indicadores.integrasus.saude.ce.gov.br/api/casos-coronavirus?dataInicio=2020-01-01&dataFim=2020-06-15")
json = response.json()

In [6]:
if response.status_code == 200:
    cases_covid = pd.DataFrame(json)

In [7]:
cases_covid

,codigoPaciente,estadoPaciente,codigoMunicipioPaciente,municipioPaciente,bairroPaciente,sexoPaciente,idadePaciente,dataNotificacao,dataColetaExame,dataResultadoExame,resultadoFinalExame,dataInicioSintomas,paisPaciente,obitoConfirmado,dataObito,dataSolicitacaoExame
0,601b1a91127c8a328aa7c99e09c3ebf7,CE,230440,FORTALEZA,SAPIRANGA,MASCULINO,33,2020-06-01T03:00:00.000+0000,2020-06-01T03:00:00.000+0000,2020-06-01T03:00:00.000+0000,Negativo,2020-04-19T03:00:00.000+0000,NaN,NaN,NaN,NaN
1,19d83bb6aa77440247f43abeca1c0272,CE,230440,FORTALEZA,HENRIQUE JORGE,FEMININO,32,2020-05-16T03:00:00.000+0000,2020-05-16T03:00:00.000+0000,2020-05-16T03:00:00.000+0000,Negativo,2020-05-09T03:00:00.000+0000,NaN,NaN,NaN,NaN
2,647e24e07b9210a5bb8d49a30f45a04f,CE,230440,FORTALEZA,PARANGABA,MASCULINO,45,2020-05-28T03:00:00.000+0000,2020-05-25T03:00:00.000+0000,2020-05-25T03:00:00.000+0000,Negativo,2020-04-26T03:00:00.000+0000,NaN,NaN,NaN,NaN
3,7b9535aedf273531d605b689cc3ef801,CE,230440,FORTALEZA,MEIRELES,MASCULINO,49,2020-05-19T03:00:00.000+0000,2020-04-23T03:00:00.000+0000,2020-04-23T03:00:00.000+0000,Negativo,2020-03-18T03:00:00.000+0000,NaN,NaN,NaN,NaN
4,58062ee3930dd30c9edecb1085a73f40,CE,230440,FORTALEZA,PARANGABA,MASCULINO,34,2020-05-26T03:00:00.000+0000,2020-05-21T03:00:00.000+0000,2020-05-21T03:00:00.000+0000,Negativo,2020-05-15T03:00:00.000+0000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226537,7b054499c03cf0a5975eee87e3ae7aaf,CE,230440,FORTALEZA,PAPICU,FEMININO,38,2020-04-17T03:00:00.000+0000,2020-04-11T03:00:00.000+0000,2020-04-11T03:00:00.000+0000,Negativo,2020-04-11T03:00:00.000+0000,NaN,NaN,NaN,NaN
226538,50acc05104cc543b64025eb4b96f6862,CE,230440,FORTALEZA,PARQUE IRACEMA,MASCULINO,44,2020-05-22T03:00:00.000+0000,2020-05-19T03:00:00.000+0000,2020-05-19T03:00:00.000+0000,Negativo,2020-05-15T03:00:00.000+0000,NaN,NaN,NaN,NaN
226539,3259755c9fff6f31a7118e8023bcb581,CE,230440,FORTALEZA,VILA MANUEL SATIRO,MASCULINO,42,2020-06-13T03:00:00.000+0000,2020-06-13T03:00:00.000+0000,2020-06-13T03:00:00.000+0000,Negativo,2020-06-13T03:00:00.000+0000,NaN,NaN,NaN,NaN
226540,a07dd057a9cd19796588b6f7f036a22e,CE,230440,FORTALEZA,MESSEJANA,FEMININO,44,2020-04-24T03:00:00.000+0000,2020-04-30T03:00:00.000+0000,2020-04-30T03:00:00.000+0000,Positivo,2020-04-18T03:00:00.000+0000,NaN,NaN,NaN,NaN
226541,d641dd8583642cf7cd9d139cd2282c49,CE,230440,FORTALEZA,DIONISIO TORRES,MASCULINO,59,2020-05-29T03:00:00.000+0000,2020-05-18T03:00:00.000+0000,2020-05-18T03:00:00.000+0000,Negativo,2020-05-18T03:00:00.000+0000,NaN,NaN,NaN,NaN

In [8]:
nomes_bairro_raw = cases_covid[cases_covid['municipioPaciente'] == 'FORTALEZA'].groupby('bairroPaciente').size()
nomes_bairro_raw

bairroPaciente
(83) 99617-1113       1
, GRANJA PORTUGAL     1
-                    14
- ALVARO WEYNE        1
- DIONISIO TORRES     1
                     ..
ÁLVARO  WEYNE         1
ÁLVARO ENY            1
ÁLVARO WAYNE          1
ÁLVARO WEYNE         27
Ñ                     1
Length: 3353, dtype: int64

In [9]:
len(cases_covid['bairroPaciente'].unique())

11628

In [10]:
# Oficial data with names of neighborhoods
bairros = pd.read_csv('http://dados.fortaleza.ce.gov.br/dataset/8d20208f-25d6-4ca3-b0bc-1b9b371bd062/resource/3ba368fe-d585-4681-a987-6e288bdfffe0/download/limitebairro.csv')

In [11]:
bairros['NOME'].head(50)

0                    PASSARE
1              CAIS DO PORTO
2                CIDADE 2000
3            ALTO DA BALANCA
4             BARRA DO CEARA
5               MOURA BRASIL
6                 CAJAZEIRAS
7                     PEDRAS
8                    PAUPINA
9                 SABIAGUABA
10             EDSON QUEIROZ
11                   ITAPERI
12                  MEIRELES
13      PREFEITO JOSE VALTER
14        PRAIA DO FUTURO II
15                   VARJOTA
16           CRISTO REDENTOR
17                  FLORESTA
18                VILA VELHA
19            JARDIM IRACEMA
20              ALVARO WEYNE
21          JARDIM GUANABARA
22            AMADEU FURTADO
23                   PIRAMBU
24              AUTRAN NUNES
25            JARDIM AMERICA
26               JACARECANGA
27              PARQUE ARAXA
28           RODOLFO TEOFILO
29            PARQUE IRACEMA
30              FARIAS BRITO
31           SAPIRANGA COITE
32            HENRIQUE JORGE
33            QUINTINO CUNHA
34                 SAO BENTO
35                DE LOURDES
36                JANGURUSSU
37                   ALDEOTA
38    ENG LUCIANO CAVALCANTE
39          CARLITO PAMPLONA
40            JOSE BONIFACIO
41        CONJUNTO ESPERANCA
42           JOSE DE ALENCAR
43      JARDIM DAS OLIVEIRAS
44               GENTILANDIA
45                   BARROSO
46           PARQUE MANIBURA
47               DIAS MACEDO
48                  SERRINHA
49                   MONTESE
Name: NOME, dtype: object

In [12]:
from unicodedata import normalize

In [13]:
def remove_accents(txt):
    return normalize('NFKD', txt).encode('ASCII', 'ignore').decode('ASCII')

In [14]:
txt = '1ª ETAPA - CONJUNTO CEARÁ'
print(txt)
print(remove_accents(txt))

1ª ETAPA - CONJUNTO CEARÁ
1a ETAPA - CONJUNTO CEARA

In [15]:
teste = '   CAIS DO PORTO        '
print(teste.strip())

CAIS DO PORTO

In [16]:
from Levenshtein import distance

In [17]:
distance('ALVARO WEYNE', '- ALVARO WEYNE')

2

In [18]:
def remove_special_characters(text):
    a_string = text
    alphanumeric = ""

    for character in a_string:
        if character == " ":
            alphanumeric += character
        else:
            if character.isalnum():
                alphanumeric += character


    return alphanumeric

In [19]:
remove_special_characters('abc !? 123')

'abc  123'

In [20]:
print('abc  123'.strip())

abc  123

In [21]:
print(remove_accents('abc !? 123'))

abc !? 123

In [64]:
def clean_neighborhood_names(text):
    no_special_characters = remove_special_characters(text)
    trim_spaces = no_special_characters.strip()
    cleaned_neighborhood_names = remove_accents(trim_spaces)

    return cleaned_neighborhood_names

In [23]:
cases_covid_fortaleza = cases_covid[cases_covid['municipioPaciente'] == 'FORTALEZA']
cases_covid_fortaleza

,codigoPaciente,estadoPaciente,codigoMunicipioPaciente,municipioPaciente,bairroPaciente,sexoPaciente,idadePaciente,dataNotificacao,dataColetaExame,dataResultadoExame,resultadoFinalExame,dataInicioSintomas,paisPaciente,obitoConfirmado,dataObito,dataSolicitacaoExame
0,601b1a91127c8a328aa7c99e09c3ebf7,CE,230440,FORTALEZA,SAPIRANGA,MASCULINO,33,2020-06-01T03:00:00.000+0000,2020-06-01T03:00:00.000+0000,2020-06-01T03:00:00.000+0000,Negativo,2020-04-19T03:00:00.000+0000,NaN,NaN,NaN,NaN
1,19d83bb6aa77440247f43abeca1c0272,CE,230440,FORTALEZA,HENRIQUE JORGE,FEMININO,32,2020-05-16T03:00:00.000+0000,2020-05-16T03:00:00.000+0000,2020-05-16T03:00:00.000+0000,Negativo,2020-05-09T03:00:00.000+0000,NaN,NaN,NaN,NaN
2,647e24e07b9210a5bb8d49a30f45a04f,CE,230440,FORTALEZA,PARANGABA,MASCULINO,45,2020-05-28T03:00:00.000+0000,2020-05-25T03:00:00.000+0000,2020-05-25T03:00:00.000+0000,Negativo,2020-04-26T03:00:00.000+0000,NaN,NaN,NaN,NaN
3,7b9535aedf273531d605b689cc3ef801,CE,230440,FORTALEZA,MEIRELES,MASCULINO,49,2020-05-19T03:00:00.000+0000,2020-04-23T03:00:00.000+0000,2020-04-23T03:00:00.000+0000,Negativo,2020-03-18T03:00:00.000+0000,NaN,NaN,NaN,NaN
4,58062ee3930dd30c9edecb1085a73f40,CE,230440,FORTALEZA,PARANGABA,MASCULINO,34,2020-05-26T03:00:00.000+0000,2020-05-21T03:00:00.000+0000,2020-05-21T03:00:00.000+0000,Negativo,2020-05-15T03:00:00.000+0000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226537,7b054499c03cf0a5975eee87e3ae7aaf,CE,230440,FORTALEZA,PAPICU,FEMININO,38,2020-04-17T03:00:00.000+0000,2020-04-11T03:00:00.000+0000,2020-04-11T03:00:00.000+0000,Negativo,2020-04-11T03:00:00.000+0000,NaN,NaN,NaN,NaN
226538,50acc05104cc543b64025eb4b96f6862,CE,230440,FORTALEZA,PARQUE IRACEMA,MASCULINO,44,2020-05-22T03:00:00.000+0000,2020-05-19T03:00:00.000+0000,2020-05-19T03:00:00.000+0000,Negativo,2020-05-15T03:00:00.000+0000,NaN,NaN,NaN,NaN
226539,3259755c9fff6f31a7118e8023bcb581,CE,230440,FORTALEZA,VILA MANUEL SATIRO,MASCULINO,42,2020-06-13T03:00:00.000+0000,2020-06-13T03:00:00.000+0000,2020-06-13T03:00:00.000+0000,Negativo,2020-06-13T03:00:00.000+0000,NaN,NaN,NaN,NaN
226540,a07dd057a9cd19796588b6f7f036a22e,CE,230440,FORTALEZA,MESSEJANA,FEMININO,44,2020-04-24T03:00:00.000+0000,2020-04-30T03:00:00.000+0000,2020-04-30T03:00:00.000+0000,Positivo,2020-04-18T03:00:00.000+0000,NaN,NaN,NaN,NaN
226541,d641dd8583642cf7cd9d139cd2282c49,CE,230440,FORTALEZA,DIONISIO TORRES,MASCULINO,59,2020-05-29T03:00:00.000+0000,2020-05-18T03:00:00.000+0000,2020-05-18T03:00:00.000+0000,Negativo,2020-05-18T03:00:00.000+0000,NaN,NaN,NaN,NaN

In [27]:
cases_covid_fortaleza_no_nan = cases_covid_fortaleza

In [29]:
cases_covid_fortaleza_no_nan['bairroPaciente'].fillna('NAO INFORMADO', inplace=True)

In [30]:
cases_covid_fortaleza_no_nan[cases_covid_fortaleza_no_nan['bairroPaciente'] == 'NAO INFORMADO']

,codigoPaciente,estadoPaciente,codigoMunicipioPaciente,municipioPaciente,bairroPaciente,sexoPaciente,idadePaciente,dataNotificacao,dataColetaExame,dataResultadoExame,resultadoFinalExame,dataInicioSintomas,paisPaciente,obitoConfirmado,dataObito,dataSolicitacaoExame
80,e9ed8b21dd8b690668555e4d124c24df,CE,230440,FORTALEZA,NAO INFORMADO,MASCULINO,60,2020-04-27T03:00:00.000+0000,2020-04-15T03:00:00.000+0000,2020-04-15T03:00:00.000+0000,Negativo,2020-03-30T03:00:00.000+0000,NaN,NaN,NaN,NaN
116,90f77ebef4623e7e2c54e929519c532c,CE,230440,FORTALEZA,NAO INFORMADO,MASCULINO,41,2020-05-11T03:00:00.000+0000,2020-05-04T03:00:00.000+0000,2020-05-04T03:00:00.000+0000,Negativo,2020-04-30T03:00:00.000+0000,NaN,NaN,NaN,NaN
181,e7d21e6b7ab106de3d8b397a5cd45587,CE,230440,FORTALEZA,NAO INFORMADO,FEMININO,63,2020-04-25T03:00:00.000+0000,2020-04-14T03:00:00.000+0000,2020-04-14T03:00:00.000+0000,Negativo,2020-03-18T03:00:00.000+0000,NaN,NaN,NaN,NaN
192,cc910b999de815963fe5a587e6519f67,CE,230440,FORTALEZA,NAO INFORMADO,FEMININO,67,2020-04-30T03:00:00.000+0000,2020-04-17T03:00:00.000+0000,2020-04-17T03:00:00.000+0000,Negativo,2020-04-14T03:00:00.000+0000,NaN,NaN,NaN,NaN
521,510ec9c53a897fe8903714f2a503bf46,CE,230440,FORTALEZA,NAO INFORMADO,MASCULINO,53,2020-06-15T03:00:00.000+0000,2020-05-11T03:00:00.000+0000,2020-05-11T03:00:00.000+0000,Negativo,2020-05-09T03:00:00.000+0000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226345,964d068edbcc8bdb2293dee815a54750,CE,230440,FORTALEZA,NAO INFORMADO,MASCULINO,34,2020-04-30T03:00:00.000+0000,2020-04-23T03:00:00.000+0000,2020-04-23T03:00:00.000+0000,Positivo,2020-03-23T03:00:00.000+0000,NaN,NaN,NaN,NaN
226352,ab4992009c1e3b011ca5a8983d4d3f57,CE,230440,FORTALEZA,NAO INFORMADO,FEMININO,45,2020-05-06T03:00:00.000+0000,2020-04-30T03:00:00.000+0000,2020-04-30T03:00:00.000+0000,Negativo,2020-04-25T03:00:00.000+0000,NaN,NaN,NaN,NaN
226371,434fb5b371cd98f987d9a15b55c2768c,CE,230440,FORTALEZA,NAO INFORMADO,MASCULINO,75,2020-04-27T03:00:00.000+0000,2020-04-22T03:00:00.000+0000,2020-04-22T03:00:00.000+0000,Negativo,2020-04-14T03:00:00.000+0000,NaN,NaN,NaN,NaN
226428,1bbf01288e52a4f79381f0031ed1cf04,CE,230440,FORTALEZA,NAO INFORMADO,MASCULINO,83,2020-05-19T03:00:00.000+0000,2020-05-18T03:00:00.000+0000,2020-05-18T03:00:00.000+0000,Positivo,2020-05-15T03:00:00.000+0000,BRASIL,NaN,NaN,NaN
226522,97e096dfc828275953d7a83ee6a446e3,CE,230440,FORTALEZA,NAO INFORMADO,FEMININO,31,2020-05-06T03:00:00.000+0000,2020-04-24T03:00:00.000+0000,2020-04-24T03:00:00.000+0000,Negativo,2020-04-20T03:00:00.000+0000,NaN,NaN,NaN,NaN

In [43]:
cases_covid_fortaleza_no_nan['bairroPaciente'] = cases_covid_fortaleza_no_nan['bairroPaciente'].map(clean_neighborhood_names)

In [44]:
cases_covid_fortaleza_no_nan

,codigoPaciente,estadoPaciente,codigoMunicipioPaciente,municipioPaciente,bairroPaciente,sexoPaciente,idadePaciente,dataNotificacao,dataColetaExame,dataResultadoExame,resultadoFinalExame,dataInicioSintomas,paisPaciente,obitoConfirmado,dataObito,dataSolicitacaoExame
0,601b1a91127c8a328aa7c99e09c3ebf7,CE,230440,FORTALEZA,SAPIRANGA,MASCULINO,33,2020-06-01T03:00:00.000+0000,2020-06-01T03:00:00.000+0000,2020-06-01T03:00:00.000+0000,Negativo,2020-04-19T03:00:00.000+0000,NaN,NaN,NaN,NaN
1,19d83bb6aa77440247f43abeca1c0272,CE,230440,FORTALEZA,HENRIQUE JORGE,FEMININO,32,2020-05-16T03:00:00.000+0000,2020-05-16T03:00:00.000+0000,2020-05-16T03:00:00.000+0000,Negativo,2020-05-09T03:00:00.000+0000,NaN,NaN,NaN,NaN
2,647e24e07b9210a5bb8d49a30f45a04f,CE,230440,FORTALEZA,PARANGABA,MASCULINO,45,2020-05-28T03:00:00.000+0000,2020-05-25T03:00:00.000+0000,2020-05-25T03:00:00.000+0000,Negativo,2020-04-26T03:00:00.000+0000,NaN,NaN,NaN,NaN
3,7b9535aedf273531d605b689cc3ef801,CE,230440,FORTALEZA,MEIRELES,MASCULINO,49,2020-05-19T03:00:00.000+0000,2020-04-23T03:00:00.000+0000,2020-04-23T03:00:00.000+0000,Negativo,2020-03-18T03:00:00.000+0000,NaN,NaN,NaN,NaN
4,58062ee3930dd30c9edecb1085a73f40,CE,230440,FORTALEZA,PARANGABA,MASCULINO,34,2020-05-26T03:00:00.000+0000,2020-05-21T03:00:00.000+0000,2020-05-21T03:00:00.000+0000,Negativo,2020-05-15T03:00:00.000+0000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226537,7b054499c03cf0a5975eee87e3ae7aaf,CE,230440,FORTALEZA,PAPICU,FEMININO,38,2020-04-17T03:00:00.000+0000,2020-04-11T03:00:00.000+0000,2020-04-11T03:00:00.000+0000,Negativo,2020-04-11T03:00:00.000+0000,NaN,NaN,NaN,NaN
226538,50acc05104cc543b64025eb4b96f6862,CE,230440,FORTALEZA,PARQUE IRACEMA,MASCULINO,44,2020-05-22T03:00:00.000+0000,2020-05-19T03:00:00.000+0000,2020-05-19T03:00:00.000+0000,Negativo,2020-05-15T03:00:00.000+0000,NaN,NaN,NaN,NaN
226539,3259755c9fff6f31a7118e8023bcb581,CE,230440,FORTALEZA,VILA MANUEL SATIRO,MASCULINO,42,2020-06-13T03:00:00.000+0000,2020-06-13T03:00:00.000+0000,2020-06-13T03:00:00.000+0000,Negativo,2020-06-13T03:00:00.000+0000,NaN,NaN,NaN,NaN
226540,a07dd057a9cd19796588b6f7f036a22e,CE,230440,FORTALEZA,MESSEJANA,FEMININO,44,2020-04-24T03:00:00.000+0000,2020-04-30T03:00:00.000+0000,2020-04-30T03:00:00.000+0000,Positivo,2020-04-18T03:00:00.000+0000,NaN,NaN,NaN,NaN
226541,d641dd8583642cf7cd9d139cd2282c49,CE,230440,FORTALEZA,DIONISIO TORRES,MASCULINO,59,2020-05-29T03:00:00.000+0000,2020-05-18T03:00:00.000+0000,2020-05-18T03:00:00.000+0000,Negativo,2020-05-18T03:00:00.000+0000,NaN,NaN,NaN,NaN

In [65]:
def replace_for_official_names(neighborhood_name, official_neighborhood_names):
    for name in official_neighborhood_names:
        if distance(neighborhood_name, name) < 5:
            return name
    return 'NAO INFORMADO'

In [62]:
bairro_teste = 'ALVARO ENY'
print(replace_for_official_names(bairro_teste, bairros['NOME'].tolist()))

ALVARO WEYNE

In [66]:
cases_covid_fortaleza_cleaned = cases_covid_fortaleza_no_nan

In [68]:
neighborhood_list = bairros['NOME'].tolist()

In [69]:
cases_covid_fortaleza_cleaned['bairroPaciente'] = cases_covid_fortaleza_cleaned['bairroPaciente'].apply(replace_for_official_names, official_neighborhood_names = neighborhood_list)

In [70]:
cases_covid_fortaleza_cleaned.groupby('bairroPaciente').size()

bairroPaciente
AEROLANDIA          25
AEROPORTO          136
ALDEOTA             23
ALTO DA BALANCA    263
ALVARO WEYNE       678
                  ...
VICENTE PINZON     894
VILA ELLERY        115
VILA PERY            8
VILA UNIAO         775
VILA VELHA         881
Length: 118, dtype: int64